// Si tienes otros @import, mantenlos aquí
@import "variables";
@import "@coreui/coreui/scss/coreui";
@import "@coreui/chartjs/scss/coreui-chartjs";
@import "theme";
//@import "fixes";
@import "custom";
@import "examples";

// Añadir estilos personalizados aquí
.floating-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    width: 90%;
    max-width: 600px;
  }
  
